{% extends "blog/base.html" %}
{% block content %}
<!-- way to reference logic from django files here -->
  <!-- wrap in double braces to access parts of variable post -->
    <article class="media content-section">
      <img class="rounded-circle article-img" src={{ object.author.profile.image.url }}> </img>
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <!-- filtering out the part of the date we want, leaving out time -->
          <!-- https://docs.djangoproject.com/en/2.2/ref/templates/builtins/#date -->
          <small class="text-muted">{{ object.date_posted|date:"l, F dS Y" }}</small>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>

        {% if object.author == user %}
          <div style="float:left;">
            <a class="btn btn-sm btn-outline-info" href={% url 'post-update' object.id %}> Update </a>
            <a class="btn btn-sm btn-outline-danger" href={% url 'post-delete' object.id %}> Delete </a>
          </div>
        {% endif %}
      </div>
    </article>
    <!-- and of course we have to end our for loop -->

  <!-- we don't necessarily need to put block "content" but it's easier to keep track of individual blocks -->
{% endblock content %}
